@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Roboto&display=swap');

/*body {*/
/*    font-family: Roboto Slab;*/
/*}*/

.App {
    text-align: center;

}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.App-link {
    /*color: #61dafb;*/
}

.ant-layout-header {
    background: #0a4584;
    color: #ffffff;
}

.ant-layout-content{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    min-height: 80vh;
    height: auto;
}

.headerButton{
    text-align: right;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.univList .ant-card-head{
    background-color: #7694e0;
    border-radius: 25px 25px 0 0;
    border: 2px solid #f0f0f0;
}

.univList {
    background-color: #a7b6dc;
    text-align: center;
    margin: 25px;
    height:200px;
    border: 2px solid #f0f0f0;
    border-radius: 25px;
}

.univList:hover {
    box-shadow: 5px 5px 17px rgba(33,33,33,.8);
}


.pageArrows{
    text-align: center;
    height: 90vh;
}

.pageArrows:hover {
    background-color: #2b2e46;
    opacity: 0.5;
}

.pageArrow{
    margin-top:45vh;
    color: #fff;
    opacity: 0.5;
}

